body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    display: flex;
    gap: 2px;
}

.light {
    width: 100px;
    height: 70px;
    border: 2px solid black;
    background-color: white;
    transition: background 0.3s; /* Smooth transition */
}

.controls {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}